{% extends "base.html" %}
{% load wagtailcore_tags home_tags %}

{% block content %}
    {% include "home/intro.html" with intro=self.intro only %}

    {% include "home/includes/carousel.html" with carousel_items=self.carousel_items.all only %}

<div class="row">
  <div class="col-md-8">
    {% if self.body %}
        <div class="body-content">
            {{ self.body|richtext }}
        </div>
    {% endif %}

    {% include "home/includes/related_links.html" with related_links=self.related_links.all only %}
  </div>

  <div class="col-md-4">
    {% blog_listing_homepage %}
  </div>
</div>

{% endblock %}
