{% load home_tags cache static wagtailuserbar %}
{% load wagtailcore_tags %}

<div class="footercustom">
<div class="footer">
  <div class="container">
    <footer>
      <div class="row">
        <div class="col-md-4">
          <address>
            <h5>Java.Point.</h5><br>
            <div class="copyright">
            Opposite Ample Mart, Next to SBI<br>
            Above Skywash, DLF New Town, Akshaya Nagar<br>
            Bangalore - 560114 <abbr title="Phone">P:</abbr> 8861757878/9731983439<br>
            <a href="mailto:#">enquiry@javapointindia.com</a>
          </div>
          </address>
        </div>
        <div class="col-md-4">
          <h5>Courses</h5>
          {% adverts %}
        </div>
        <div class="col-md-4">
          <h5>We are Social</h5>
          <ul class="list-inline">
            <a target="_blank" href="https://www.facebook.com/JavaPointBLR"><span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span>
            </a>
            <a href="#"><span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span>
            </a>
            <a href="#"><span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-google fa-stack-1x fa-inverse"></i></span>
            </a>
            <a href="#"><span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i></span>
            </a>
            <a href="#"><span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i></span>
            </a>
          </ul>
        </div>
      </div>
      <p class="copyright">&copy; 2017 Java.Point. All right reserved. | Powered by <a target="_blank" href="http://www.nescode.com"> Nescode</a></p>
    </footer>
  </div>
</div>
</div>
