{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags home_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-8">
    <h2>{{ page.title }}</h2>

    <div class="intro">{{ page.intro|richtext }}</div>

    {% for post in blogpages %}
        {% with post=post.specific %}
            <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>

            {% with post.main_image as main_image %}
                {% if main_image %}{% image main_image fill-160x100 %}{% endif %}
            {% endwith %}

            <p>{{ post.intro }}</p>
            {% if self.body %}
                <div class="body-content">
                    {% include "streamfield.html" with content=self.body %}
                </div>
            {% endif %}
        {% endwith %}
    {% endfor %}

  </div>
  <div class="col-md-4 personcustom">
    {% blog_listing_homepage %}
  </div>
</div>

{% endblock %}
